<!-- NAVBAR -->

<nav class="bg-gray-700 text-white shadow-lg">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
        <h1 class="text-lg font-bold">Gestión de Países</h1>
        <button id="menu-toggle" class="lg:hidden block text-white">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
        </button>
        <ul id="menu" class="hidden lg:flex space-x-4">
            <li><a href="/" class="hover:text-gray-300">Inicio</a></li>
            <li><a href="/api/add-country" class="hover:text-gray-300">Agregar</a></li>
            <li><a href="/#listado-paises" class="hover:text-gray-300">Listado</a></li>
            <li><a href="/#estadisticas" class="hover:text-gray-300">Estadísticas</a></li>
            <li class="relative group">
                <a href="#" class="hover:text-gray-300">Gestión API</a>
                <ul class="absolute left-0 top-full hidden group-hover:block bg-white text-black mt-0 rounded shadow-md w-48">
                    <li><a href="/api/process-countries" class="block px-4 py-2 hover:bg-gray-200">Obtener Datos</a></li>
                    
                    <li><a href="/api/delete-countries" class="block px-4 py-2 hover:bg-gray-200 delete-button">Eliminar Datos</a></li>
                    
                </ul>
            </li>
        </ul>
    </div>
</nav>




