<section>
    <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">AGREGAR PAÍS</h2>
    <form class="bg-white shadow-lg rounded-lg p-6" id="formAgregar">

        <!-- Campos -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        
            <!-- Nombre Común -->
            <div>
                <label for="common-name" class="block text-sm font-medium text-gray-700">Nombre Común</label>
                <input type="text" id="common-name" placeholder="Argentina" class="mt-1 block w-full rounded shadow-lg">
            </div>
        
            <!-- Nombre Oficial -->
            <div>
                <label for="official-name" class="block text-sm font-medium text-gray-700">Nombre
                    Oficial</label>
                <input type="text" id="official-name"  placeholder="República Argentina" class="mt-1 block w-full rounded shadow-lg">
            </div>
        
            <!-- Capital -->
            <div>
                <label for="capital" class="block text-sm font-medium text-gray-700">Capital</label>
                <input type="text" id="capital" placeholder="Buenos Aires, Catamarca" class="mt-1 block w-full rounded shadow-lg">
            </div>
        
            <!-- Región -->
            <div>
                <label for="region" class="block text-sm font-medium text-gray-700">Región</label>
                <input type="text" id="region" placeholder="América" class="mt-1 block w-full rounded shadow-lg">
            </div>
        
            <!-- Subregión -->
            <div>
                <label for="subregion" class="block text-sm font-medium text-gray-700">Subregión</label>
                <input type="text" id="subregion" placeholder="Sudamérica" class="mt-1 block w-full rounded shadow-lg">
            </div>
        
            <!-- Froteras -->
            <div>
                <label for="borders" class="block text-sm font-medium text-gray-700">Fronteras</label>
                    <input type="text" id="borders" placeholder="Ejemplo: BRA, URY, BOL" 
                    class="mt-1 block w-full rounded shadow-lg">
            </div>
        
            <!-- Población -->
            <div>
                <label for="population" class="block text-sm font-medium text-gray-700">Población</label>
                <input type="number" id="population" class="mt-1 block w-full rounded shadow-lg">
            </div>
        
            <!-- Área -->
            <div>
                <label for="area" class="block text-sm font-medium text-gray-700">Área (km²)</label>
                <input type="number" id="area" class="mt-1 block w-full rounded shadow-lg">
            </div>
        
            <!-- Independiente -->
            <div>
                <label for="independent" class="block text-sm font-medium text-gray-700">Independiente</label>
                <select id="independent" class="mt-1 block w-full rounded shadow-lg">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>
        
            <!-- Zona horaria -->
            <div>
                <label for="timezones" class="block text-sm font-medium text-gray-700">Zona Horaria</label>
                <input type="text" id="timezones" placeholder="UTC:03:00, UTC-05:00" class="mt-1 block w-full rounded shadow-lg">
            </div>
        
            <!-- Índice Gini -->
            <div class="mt-6">
                <label class="block text-sm font-medium text-gray-700">Índice Gini</label>
                <div id="gini-container" class="space-y-4 mt-4">
                    
                    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 gini-entry">
                        <div>
                            <label for="gini-year-1" class="block text-sm font-medium text-gray-700">Año</label>
                            <input type="number" id="gini-year-1" class="gini-year mt-1 block w-full rounded shadow-lg"
                                placeholder="Ej: 2024">
                        </div>
                        <div>
                            <label for="gini-value-1" class="block text-sm font-medium text-gray-700">Valor</label>
                            <input type="number" step="0.1" id="gini-value-1"
                                class="gini-value mt-1 block w-full rounded shadow-lg" placeholder="Ej: 40.9">
                        </div>
                        
                        <button type="button" class="remove-gini mt-6 px-2 py-1 bg-red-500 text-white text-sm font-medium rounded shadow hover:bg-red-600 w-auto">
                            Quitar
                        </button>
                    </div>

                    <!-- Aquí se agregan dinámicamente campos de Año y Valor -->
                </div>
                <div class="text-center">
                    <button type="button" id="add-gini"
                    class=" mt-4 inline-flex items-center px-4 py-2 bg-blue-500 text-white text-sm font-medium rounded shadow hover:bg-blue-600">
                    Agregar
                </button>
                </div>
            </div>
        
            <!-- Creador -->
            <div>
                <label for="creador" class="block text-sm font-medium text-gray-700">Creador</label>
                <input type="text" id="creador" class="mt-1 block w-full rounded shadow-lg"
                    placeholder="Ejemplo: Daniel Juárez">
            </div>
        
        </div>

        <!-- Botones -->
        <div class="mt-6 flex justify-end">
            <button type="reset"
                class="bg-yellow-300 text-yellow-800 px-4 py-2 rounded hover:bg-yellow-400 mr-2">Limpiar</button>
            <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Agregar
                País</button>
        </div>
    </form>

</section>

<script src="/js/add.js"></script>
<script src="/js/addGini.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>