<h1>Lista de Países</h1>
<ul>
    <% countries.forEach(country=> { %>
        <li>
            <%= country.name.official %> - <%= country.capital %>
                    <!-- Botón para Eliminar -->
                    <form action="/api/country/<%= country._id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit"
                            onclick="return confirm('¿Estás seguro de eliminar este país?');">Eliminar</button>
                    </form>
                    <!-- Botón para Modificar -->
                    <a href="/api/country/<%= country._id %>">Modificar</a>
        </li>
        <% }); %>
</ul>

<!-- Agregar País -->
<h2>Agregar País</h2>
<form action="/api/country" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="name.official" required>

    <label for="capital">Capital:</label>
    <input type="text" id="capital" name="capital" required>

    <button type="submit">Agregar</button>
</form>