<div class="text-gray-800 flex items-center justify-center">
    <!-- Wrapper -->
    <div class="text-center space-y-6 p-6 bg-white rounded-lg shadow-lg">

        <!-- Confirmation Icon -->
        <div class="flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-red-500" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 9v3m0 0v3m0-3h3m-3 0H9m3-8a9 9 0 100 18a9 9 0 000-18z" />
            </svg>
        </div>

        <!-- Message -->
        <h1 class="text-3xl font-bold text-red-600">¿Estás seguro?</h1>
        <p class="text-lg text-gray-600">Esta acción eliminará todos los países de forma permanente.</p>

        <!-- Actions -->
        <div class="space-x-4">
            <a href="/"
                class="px-6 py-2 text-red-600 border border-red-600 rounded hover:bg-red-100 transition">
                Volver al Dashboard
            </a>
            <!-- <a href="/eliminar-todos" class="px-6 py-2 text-white bg-red-600 rounded hover:bg-red-700 transition">
                Eliminar
            </a> -->
            <form action="/api/countries?_method=DELETE" method="post" class="inline">
                <button class="px-6 py-2 text-white bg-red-600 rounded hover:bg-red-700 transition">Eliminar</button>
            </form> 
        </div>
    </div>
</div>